.payment {
  background-color: white;
}

.payment_container h1{
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(218, 232, 236);
  border-bottom: 1px solid lightgray;
}

.payment_container h1 a {
  text-decoration: none;
}

.payment_section {
  display: flex;
  padding: 20px; 
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment_details {
  border: 1px solid black;
  max-width: 500px;
}

.payment_details form {
  padding: 20px;
}

.payment_details h3 {
  padding: 0 0 20px 0;
}

.payment_details form div button {
  background: #F0C14B;
  border-radius: 2px;
  border: 1px solid;
  border-color: #A88734 #9C7E31 #846A29;
  width: 100px;
  height: 30%;
  font-weight: bolder;
  margin: 10px 0 0 0;
  color: #111;
}

.payment_details form div button:hover {
  background: #f8d273;
  cursor: pointer;
}

.payment_details form div button:active {
  border-color: black;
}

.payment_details form div button:disabled{
  background: lightgray;
  cursor: default;
}

.payment_title {
  flex: 0.2;
}

.payment_address, .payment_items, .payment_details {
  flex: 0.8;
}